@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ededed;
}

h1 {
  color: rgba(7, 85, 91, 0.585);
  font-size: 56px;
  margin:0 auto;
  padding: 30px;
}

.about {
  max-width: 1200px;
  background: rgba(7, 85, 91, 0.585);
  margin: 150px auto 150px;
  padding: 10px 10px 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.about::after {
  content: "";
  display: block;
  clear: both;
}

.about-img {
  float: left;
  width: 260px;
  height: 260px;
  shape-outside: circle(50% at 50% 50%);
  margin: 0 20px 20px 0;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-text h2 {
  margin-bottom: 10px;
  font-size: 60px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #330695;
  margin-bottom: 10px;
}

.about-text p {
  color: rgb(36, 37, 38);
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.btn-box {
  display: inline-block;
  padding: 8px;
  margin-bottom:10px ;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  border: 1px solid #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 1270px) {
  .navbar {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px; 
    right: 20px; 
    background: rgba(7, 85, 91, 0.8);
    border-radius: 10px; 
    padding: 10px;
    width: auto; 
  }

  .navbar a {
    padding: 10px 20px;
    text-align: left;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
  }

 
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 106, 0);
  }

  .navbar.active {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 0;
  }

  .services-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .about img {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 20px 20px;
    height: 100%;
   
  }

  .about-text {
  margin: 30px; 
  font-size: 10px;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .home-sci {
    display: none;
  }
  .license-link {
    display: flex;
    flex-direction: column;
  }
  .footer {
    justify-content: space-between;
  }
}

@media (max-width: 650px){
.about p{
  font-size: 18px;
}
}
@media (max-width: 600px) {
  .about-text p {
    font-size: 16px;
  }
}