@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.sub-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
  color: #000000;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.sub-title span {
  color: #0ef;
  opacity: 0;
  animation: slideRight 3s ease forwards;
  animation-delay: 2s;
}

.container {
  padding: 40px;
  margin-top: 80px;
}

.card-content .card {
  background: rgba(7, 85, 91, 0.99);
  margin-top: 10px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.services-list div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  padding: 25px;
  height: 90%;
  font-size: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
  transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
}
.services-list div:hover {
  transform: translateY(-15px) scale(1.03);
  background-color: rgba(7, 85, 91, 0.882);
  box-shadow: 0 0 25px #0ef, 0 0 50px rgba(0, 238, 255, 0.5);
}

.services-list div i {
  font-size: 18px;
  margin-bottom: 10px;
}
.services-list div:hover i {
  transform: scale(1.2);
  color: #fff;
  text-shadow: 0 0 15px #0ef;
}

.services-list div h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0ef;
}
.services-list div:hover h2 {
  color: #fff;
  text-shadow: 0 0 10px #0ef;
}

.services-list div h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}
.services-list div:hover h3 {
  color: #0ef;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: auto;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 10px;
  margin-bottom:10px ;
  background: #0ef;
  border-radius: 40px;
  font-size: 14px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  border: 1px solid #0ef;
}

.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
  border: 1px solid #001;

}

.services-list div:hover {
  transform: translateY(-10px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.814);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: rgb(223, 235, 239);
  font-size: 25px;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.modal-content {
  background-color: #081b299b;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #0ef;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  transform: translateY(-50px);
  transition: transform 0.3s ease;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.close {
  color: #0ef;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideBottom {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (max-width: 1270px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgba(7, 85, 91, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: auto; 
  }

  .navbar a {
    padding: 10px 20px;
    text-align: left;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
  }

 
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 106, 0);
  }

  .navbar.active {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 0;
    background: #081b29ae;
  }

  .services-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 1050px) {
  .services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .services-list .card {
    flex: 1;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .home-sci {
    display: none;
  }
  .license-link {
    display: flex;
    flex-direction: column;
  }
  .footer {
    justify-content: space-between;
  }
}
