@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(7, 85, 91, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header img {
  height: 50px;
}

#logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.ai-badge {
  position: absolute;
  top: 0;
  left: 450px;
  opacity: 0;
  animation: fadeIn 1s ease forwards, spinHorizontal 2s ease forwards;
  animation-delay: 1s;
}

.ai-badge img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* Debut navbar */
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #0ef;
}

.hamburger {
  display: none;
}

.navbar {
  display: flex;
}

.btn-box,
.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  border: 2px solid #555557;
}

.btn-box {
  box-shadow: 0 0 5px cyan, 0 0 15px cyan, 0 0 25px cyan;
}

.btn-box:hover,
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 15px cyan, 0 0 25px cyan;
  background: #0ef; 
  color: #000;
  border: 2px solid #000;
}


/* footer  */
.footer {
  background: rgba(7, 85, 91, 0.8);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-top: auto;  /* Forcer le footer à descendre */
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 300;
  color: #fff;
}

.license-link {
  flex: 1;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
  width: 200px;
}

.license-link:hover {
  color: #0ef;
  text-decoration: underline;
}

.home-sci {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-sci a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 16px;
  color: #0ef;
  text-decoration: none;
  margin:10px 20px;
  transition: 0.5s ease;
  opacity: 1;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}


.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px hsl(184, 100%, 50%);
}

.logo-hood {
  width: 20px;
}

.logo-hood a:hover {
  color: #081b29;
  box-shadow: 0 0 20px hsl(184, 100%, 50%);
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1440deg); 
  }
}

@media (max-width: 1450px) {
  .contact {
    margin-top: 400px; 
  }
}

@media (max-width: 1270px) {
  .navbar {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgba(7, 85, 91, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: auto;
  }

  .navbar a {
    padding: 10px 20px;
    text-align: left;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
  }


  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 106, 0);
  }

  .navbar.active {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 0; 
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 100px;
  }

  .contact h2 {
    font-size: 50px;
  }

  .contact-text p {
    margin-left: 0;
    font-size: 16px;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 100%; 
  }

  .contact-icons {
    justify-content: center; 
  }

  .contact-icons i {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 10px;
  }

  .contact h2 {
    font-size: 40px;
  }

  .contact-text h4 {
    font-size: 18px;
  }

  .contact-text p {
    font-size: 14px;
  }

  .contact-form form input,
  .contact-form form textarea {
    padding: 10px;
  }

  .btn-box,
  .contact-form form .send {
    padding: 10px 40px;
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .ai-badge {
display: none;
}}